p {
    text-align: center;
    vertical-align: middle;
    font: Tahoma;
    font-size: 40px;
    border-top-color:#687291 ;
    border-top-width: 1px;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    
}

.container{
    display: flex;
    flex-direction: column; /* Stack boxes vertically */
    justify-content: space-evenly; /* Equal space between boxes */
    height: 80%; /* Height of the container */
    width: 100%; /* Full width */
}

p.color1{
    background-color: #dfe1e7;
}

p.color2{
    background-color: #eeeff2;
}
.final{
    background-color: #687291;
    border-color: black;
    border-width: 4px;
}